# Run the workflow when changes are pushed to main
name: Semantic-Release
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: npm ci
#      - run: npm test
      - name: Release
        env:
          NPM_TOKEN: ${{ secrets.npm_token }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
